<html>
  <head>
    <title>Zot Detector</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
        <h2>Disclaimer</h2>
        <p>The use of this application is not intended to be a substitute for professional mental health advice, diagnosis, or treatment. Always seek the advice of a licensed health provider or professional with any questions you may have regarding mental health.</p>
        <h2>Resources</h2>
        <ul>
            <li>Crisis Text Line (Text CONNECT to 741741)</li>
            <li>Mental Health America</li>
            <li>National Institute of Mental Health</li>
        </ul>
        <form method="post" action="/">
            <input type="submit" name="submit_button" value="OK">
        </form>
  </body>
</html>