<html>
  <head>
    <title>Zot Detector</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
    <div class="header">
      <p>Zot Detector<span style="float:right;">Good morning!</span></p>

    </div>

    <div class="main-container">
      <div class="split left">
        <img src="{{ url_for('video_feed') }}">
        <br>
        <button type="button">Start/Stop</button>
      </div>

      <div class="split right">
        <p>Weekly Pattern</p>
      </div>
    </div>
  </body>
</html>