.header {
  padding: 0.2rem;
  background: gray;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
}
#zot{
  color: white;
}
#detector{
  color: gold;
}

/* Split the screen in half */
.split {
  height: 92%;
  width: 50%;
  position: relative;
  top: 0;
  float: left;
  background-color: gray;
}
  
/* Control the left side */
.left {
  left: 0;
  background-color: white;
}
  
/* Control the right side */
.right {
  right: 0;
  background-color: lightblue;

}

/*Positions the card */
.card{
  top: 100px;
  left: 200px;
}
  