.header {
  padding: 0.2rem;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
}
#zot{
  color: white;
}
#detector{
  color: gold;
}

.background{
  background: gray;
}

#chart-container {
  margin: auto;
  width: fit-content;
}

.card-border{
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.interface-card-left {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 60px;
  display: grid;
}

.interface-card-right {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 10px;
}

.card-left-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .start-button {
  margin-top: 10%;
}

.logout{
  margin: 7px;
}

.page-labels{
  margin-left:10px;
  color: #007BFF;
  font-size: 1.5rem;
  font-family: sans-serif;

}